[Unit]
Description=GRAD e-Nav AtoN Service Client
After=syslog.target docker.service

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/opt/e-nav/atonServiceClient/atonServiceClient.jar

[Install]
WantedBy=multi-user.target